@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B55 0%, #fd383855 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
}

.card {
  margin: auto;
  background-color: #EEF2FF;
  color: #678983;
  min-width: 250px;
  max-width: 350px;
  box-shadow: 0px 14px 10px rgba(34, 35, 58, 0.2);
  border-radius: 10px;
  position: relative;
  top: 0%;
}
.card .card-header {
  padding: 10px 20px;
}
.card .card-header .title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3px;
}
.card .card-body .image {
  min-height: 200px;
  min-width: 100%;
  overflow: hidden;
  position: relative;
}
.card .card-body .image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://img2.freepng.es/20180422/cfe/kisspng-robowar-robot-human-head-face-clip-art-5add36c4e90e49.5722923615244469169546.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 80%;
  transition: all 0.3s;
}
.card .card-body .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  opacity: 80%;
}
.card .card-body .image:hover::before {
  transform: scale(1.2);
}
.card .card-body .cantent {
  border: 1px solid #E6DDC4;
  border-width: 0 0 1px 0;
  padding: 10px 20px;
  text-align: justify;
  text-justify: inter-word;
}
.card .card-body .cantent .btn {
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  min-width: 50%;
  max-width: 70%;
  border-radius: 30px;
  padding: 15px 40px;
  text-align: center;
  margin: auto;
  color: white;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.2s;
  position: relative;
  z-index: 0;
}
.card .card-body .cantent .btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 30px;
  transition: all 0.2s;
}
.card .card-body .cantent .btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.card .card-body .cantent .btn:hover::before {
  transform: scale(1.5);
  opacity: 0;
}
.card .card-body .cantent .btn:active {
  transform: scale(1.05);
}
.card .card-footer {
  padding: 10px 20px;
  text-align: center;
}
.card::after, .card::before {
  content: "";
  position: absolute;
}
.card::before {
  background-color: #fd3838;
  top: -3%;
  right: 10%;
  width: 25px;
  height: 25px;
  z-index: -1;
  border-radius: 50%;
  transform: translateX(100%);
}
.card::after {
  background-color: #fe8a39;
  right: 10.2%;
  top: -3%;
  width: 50px;
  height: 150px;
  border-radius: 20px 0px 0 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%);
  transition: all 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transform-origin: top;
}
.card:hover::after {
  transform: scaleY(1.1);
}
.card .i {
  position: absolute;
  background-color: #fe8a39;
  right: 10%;
  top: -3%;
  width: 50px;
  height: 20px;
  z-index: -2;
  border-radius: 0px 50px 50px 0;
  transform: translateX(40%);
}


.menu{
    
    
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
    
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #db0e0e;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#db0e0e;
}